.review-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f6f9;
  width: 60vw;
  margin: 20px auto;
}

.review-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.review-card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.x-button {
  font-size: 20px;
  cursor: pointer;
  float: right;
}

.star-rating {
  display: inline !important;
}

#inquiryForm {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inquiryForm > * {
  margin-bottom: 50px;
}
