* {
  /* this affects everything */
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2e1780;
  height: 90px;
}

.nav-item {
  display: inline;
  margin: 5%;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

#main-logo {
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

#about-main {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

#about-heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-heading-text > * {
  font-family: ‘Indie Flower’, cursive;
  margin-bottom: 20px;
}

#about-heading-text p {
  font-size: 30px;
}

#about-heading-text h1 {
  font-size: 46px;
}

#about-main-image {
  height: 700px;
  width: 500px;
}

#bio-image {
  height: 300px;
  width: 100.2%;
}

.cards {
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f6f9;
}

.card-title {
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 500px;
  width: 20rem;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid black;
}

.card-title {
  margin-top: 10px;
  padding-bottom: 10px;
}

.card-text {
  padding-top: 10px;
  text-align: center;
  padding: 10px;
}

.inquiry-title {
  text-align: center;
  margin: 50px auto;
}
#confirmationMessage {
  text-align: center;
  margin: 50px auto;
}
.form {
  width: 60%;
  margin-left: 20%;
}
.form > * {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

footer {
  background-color: #2e1780;
  height: 90px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: #9785db;
  color: white;
  border-radius: 10px;
}
